@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  font-size: 62.5%;
  line-height: 1.8;
}

body {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: Verdana,"メイリオ","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  letter-spacing: -0.01em;
}

main {
  margin-top: 6.5rem;
}

@media (min-width: 768px) {
  main {
    margin-top: 11rem;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: 100vh;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

input {
  text-align: left;
}

.l-footer {
  width: 100%;
  color: #fff;
  text-align: center;
  background: #001D60;
  padding: 3rem 0 2rem;
  margin-top: 10rem;
}

@media (min-width: 768px) {
  .l-footer {
    padding: 4rem 0 2rem;
  }
}

.l-footer small {
  font-size: 1.4rem;
  letter-spacing: 0.03rem;
}

.l-footer__wrap {
  width: 90%;
  max-width: 1140px;
  margin: auto;
  text-align: left;
  margin-bottom: 8rem;
}

@media (min-width: 768px) {
  .l-footer__wrap {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10rem;
  }
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 10;
}

.l-header-show {
  background-color: rgba(0, 0, 0, 0.7);
}

.l-header__wrap {
  width: 90%;
  color: #000;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .l-header__wrap {
    max-width: 1140px;
    margin-bottom: 0;
  }
}

.l-header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-header__title__logo {
  margin-right: 1rem;
  width: 3.3rem;
}

@media (min-width: 768px) {
  .l-header__title__logo {
    width: 5.2rem;
  }
}

.l-header__title__name {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .l-header__title__name {
    font-size: 3rem;
  }
}

.c-button {
  text-align: center;
  width: 15rem;
  height: 5rem;
  line-height: 5rem;
  margin: auto;
}

@media (min-width: 768px) {
  .c-button {
    width: 20rem;
    height: 6rem;
    line-height: 6rem;
    text-align: initial;
  }
}

.c-button a {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  display: inline-block;
  margin: auto;
  background: #0054EE;
}

.c-button a:hover {
  background: #001D60;
}

@media (min-width: 768px) {
  .c-button a {
    font-size: 2rem;
  }
}

.c-button-login {
  width: 100%;
  height: 45px;
  line-height: 1.15;
  background: #0054EE;
  margin-top: 1.5rem;
  padding: 1.5rem 0;
  border-radius: 5px;
}

.c-button-login:hover {
  background: #001D60;
}

.c-button-signup {
  margin-top: 3rem;
  display: block;
}

.c-button-login__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.c-button-login__text p {
  font-weight: bold;
  font-size: 1.4rem;
}

.c-button-registration {
  width: 90%;
  max-width: 30rem;
  height: 6rem;
  line-height: inherit;
  background: #0054EE;
  margin-top: 3rem;
  padding: 1.5rem 0;
  border-radius: 5px;
}

.c-button-registration:hover {
  background: #001D60;
}

@media (min-width: 768px) {
  .c-button-registration {
    width: 30rem;
    text-align: center;
  }
}

.c-button-registration__text p {
  font-size: 1.8rem;
  color: #fff;
}

.c-check {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: -0.01rem;
  color: #333333;
  margin-top: 1.5rem;
}

.c-comment {
  font-size: 1.4rem;
  width: 100%;
  max-width: 30rem;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .c-comment {
    font-size: 1.8rem;
    width: 100%;
    max-width: none;
    margin-top: 15%;
    text-align: left;
  }
}

.c-comment-link {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  color: #40A8E2;
  text-align: center;
  margin-top: 2.5rem;
}

@media (min-width: 768px) {
  .c-comment-link {
    margin-top: 1.5rem;
  }
}

.c-comment-link:hover {
  opacity: 0.7;
}

.c-comment-link-big {
  font-size: 1.4rem;
}

.c-comment-link-contact {
  font-size: 1.8rem;
  margin-top: 3.5rem;
}

@media (min-width: 768px) {
  .c-comment-link-contact {
    font-size: 1.6rem;
    margin-top: 2.5rem;
  }
}

.c-comment-link-totop {
  font-size: 1.4rem;
  margin-top: 4.5rem;
}

@media (min-width: 768px) {
  .c-comment-link-totop {
    font-size: 1.6rem;
    margin-top: 6rem;
  }
}

.c-comment-contact {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .c-comment-contact {
    font-size: 1.6rem;
    margin-top: 2.5rem;
  }
}

.c-comment-annotation {
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .c-comment-annotation {
    margin-left: 13.8rem;
  }
}

.c-comment-link-twitter {
  font-size: 1.6rem;
  margin-top: 0;
  display: inline-block;
}

.c-comment-link-url {
  font-size: 1.6rem;
  margin-top: 0;
  display: inline-block;
  text-align: left;
  overflow-wrap: anywhere;
}

.c-comment-link-url:hover {
  text-decoration: underline;
}

.c-divider {
  color: #AAA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  letter-spacing: -0.01rem;
  margin-top: 1rem;
}

.c-divider::before,
.c-divider::after {
  content: '';
  height: 1px;
  background-color: #AAA;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.c-divider::before {
  margin-right: 7px;
}

.c-divider::after {
  margin-left: 7px;
}

.c-divider-bottom {
  margin-top: 2rem;
}

.c-divider-bottom::before,
.c-divider-bottom::after {
  background-color: #DDD;
  margin-right: 0;
  margin-left: 0;
}

.c-frame {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #333;
  width: 100%;
  padding: 1.3rem 1.5rem;
  position: relative;
  border: 2px solid #DDDDDD;
  border-radius: 4px;
}

.c-frame p {
  color: #333;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: -0.01rem;
}

.c-frame-text {
  padding: 1.5rem 1rem;
  height: 4.6rem;
  font-weight: normal;
}

.c-frame-text::-webkit-input-placeholder {
  font-size: 1.4rem;
  color: #ddd;
}

.c-frame-text:-ms-input-placeholder {
  font-size: 1.4rem;
  color: #ddd;
}

.c-frame-text::-ms-input-placeholder {
  font-size: 1.4rem;
  color: #ddd;
}

.c-frame-text::placeholder {
  font-size: 1.4rem;
  color: #ddd;
}

.c-frame-text-mail {
  margin-top: 1.2rem;
}

.c-frame-text-password {
  margin-top: 0.9rem;
}

.c-frame-text-registration {
  width: 100%;
  margin-top: 1rem;
  position: relative;
}

@media (min-width: 768px) {
  .c-frame-text-registration {
    width: 62.5%;
    margin-top: 0;
  }
}

.c-frame-text-registration::after {
  position: absolute;
  display: block;
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  top: 55%;
  right: 0.45rem;
  margin-top: -3px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  z-index: -1;
}

.c-frame-select {
  width: 7.1rem;
  height: 2.6rem;
  padding: 0;
}

.c-frame-select select {
  vertical-align: baseline;
  width: 100%;
  padding-left: 1rem;
  cursor: pointer;
}

.c-frame-select-month {
  width: 5.4rem;
}

.c-frame-select-day {
  width: 5.4rem;
}

.c-frame-select-prefectures {
  width: 14.6rem;
}

.c-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-image-advertising {
  display: block;
  margin: auto;
}

@media (min-width: 768px) {
  .c-image-advertising {
    max-width: 300px;
  }
}

.c-image-advertising + .c-image-advertising {
  margin-top: 3rem;
}

.c-item-radio input {
  cursor: pointer;
}

.c-item-radio input:nth-of-type(2) {
  margin-left: 4.3rem;
}

@media (min-width: 768px) {
  .c-item-radio input:nth-of-type(2) {
    margin-left: 2rem;
  }
}

@media (min-width: 768px) {
  .c-item-radio input {
    margin-right: 0.4rem;
  }
}

.c-item-radio label {
  font-size: 1.3rem;
}

.c-item-footer {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .c-item-footer {
    letter-spacing: 0.03rem;
  }
}

.c-item-footer a:hover {
  opacity: 0.7;
}

.c-itemlabel {
  font-weight: bold;
  font-size: 1.1rem;
  max-width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media (min-width: 768px) {
  .c-itemlabel {
    width: 13.8rem;
    display: block;
  }
}

.c-itemlabel p {
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .c-itemlabel p {
    margin-bottom: 0.5rem;
  }
}

.c-itemlabel:nth-of-type(2) p {
  margin-top: 2rem;
}

.c-itemlabel:nth-of-type(3) p {
  margin-top: 2rem;
}

.c-itemlabel-radio {
  margin-bottom: 0.6rem;
}

@media (min-width: 768px) {
  .c-itemlabel-radio {
    margin-bottom: 0;
  }
}

.c-itemlabel__private {
  font-size: 1.1rem;
  font-weight: normal;
}

.c-itemlabel__required {
  color: #FF0000;
  font-size: 1.1rem;
  letter-spacing: 0.04em;
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .c-itemlabel__required {
    margin-left: 0;
    margin-top: 0.5rem;
  }
}

.link {
  display: block;
  width: 100%;
  max-width: 335px;
  margin: auto;
  margin-top: 2rem;
  -webkit-transition: .3s;
  transition: .3s;
  border: 1px solid #AAA;
}

.link:hover {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@media (min-width: 768px) {
  .link {
    max-width: none;
    width: 47%;
    margin: unset;
    margin-top: 4rem;
  }
}

.box {
  width: 100%;
  height: 100%;
}

.box img {
  width: 100%;
  max-width: 400px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .box img {
    max-width: none;
  }
}

.c-textbox {
  font-size: 1.6rem;
  height: 50%;
  padding: 2rem;
}

.c-textbox p {
  margin-top: 2rem;
}

.c-textbox p:first-of-type {
  margin-top: 0;
}

.c-textbox p:nth-of-type(2) {
  font-weight: normal;
  line-height: 1.5;
}

.c-textbox span {
  display: inline-block;
  background: #848484;
  padding: 0.5rem 1.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: #fff;
}

.c-textbox-confirm {
  padding: 0;
}

@media (min-width: 768px) {
  .c-textbox-confirm {
    padding: 4rem 3rem 0;
  }
}

.c-textbox-confirm p {
  margin-top: 0;
}

.c-textbox__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .c-textbox__item {
    margin-top: 4rem;
  }
}

@media (min-width: 768px) {
  .c-textbox__item:first-of-type {
    margin-top: 0;
  }
}

.c-textbox__item p {
  margin-top: 0;
}

.c-textbox__item p:first-of-type {
  font-size: 2rem;
  width: 9rem;
}

.c-textbox__item p:nth-of-type(2) {
  font-weight: normal;
  line-height: 1.5;
  width: calc(100% - 9rem);
}

.c-textbox__item:last-of-type {
  display: block;
}

.c-textbox__item:last-of-type p:first-of-type {
  width: auto;
}

.c-textbox__item:last-of-type p:nth-of-type(2) {
  width: auto;
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
  .c-textbox__item:last-of-type p:nth-of-type(2) {
    margin-top: 2rem;
  }
}

.user-icon-dnd-wrapper {
  position: relative;
  width: 100%;
  height: 200px;
}

@media (min-width: 768px) {
  .user-icon-dnd-wrapper {
    height: 250px;
  }
}

#preview_field {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

#preview_field img {
  width: 90%;
}

#drop_area {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: normal;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  background: #F9F9FB;
  border: 1px dashed #B4B7BB;
  cursor: pointer;
}

.drop_area__text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#icon_clear_button {
  display: none;
  position: absolute;
  top: -4px;
  right: -8px;
  cursor: pointer;
}

#input_file {
  width: 100%;
  height: 100px;
  opacity: 0;
}

#input_file:focus {
  opacity: 1;
}

.c-navi {
  font-size: 1.4rem;
  width: 90%;
  margin: auto;
}

@media (min-width: 768px) {
  .c-navi {
    max-width: 1140px;
  }
}

.c-navi li {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 5rem;
}

.c-navi li:first-of-type {
  margin-top: 8rem;
}

@media (min-width: 768px) {
  .c-navi li {
    width: 25%;
    margin-top: 0;
    border-right: 1px solid #aaaaaa;
  }
  .c-navi li:first-of-type {
    margin-top: 0;
    border-left: 1px solid #aaaaaa;
  }
  .c-navi li:last-of-type {
    display: none;
  }
  .c-navi li:hover {
    background-color: #ACCBF9;
  }
}

.c-navi li a {
  display: block;
}

@media (min-width: 768px) {
  .c-navi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.c-navi__login {
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;
  width: 15rem;
  color: #fff;
  display: inline-block;
}

.c-navi__login a {
  background: #0054EE;
  padding: 1.6rem 0.5rem;
}

.c-navi__login a:hover {
  background: #001D60;
}

.c-navi__login img {
  height: 1.7rem;
  margin-right: 0.5rem;
}

.c-navi__button {
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 30;
}

.c-navi__button i {
  right: 0;
  width: 27px;
  height: 2.5px;
  background-color: #000;
  position: absolute;
  -webkit-transition: all 1.0s ease-in-out;
  transition: all 1.0s ease-in-out;
}

.c-navi__button i:nth-child(1) {
  top: 20px;
}

.c-navi__button i:nth-child(2) {
  top: 30px;
}

.c-navi__button i:nth-child(3) {
  top: 40px;
}

@media (min-width: 768px) {
  .c-navi__button {
    display: none;
  }
}

.c-navi__button-show {
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 30;
}

.c-navi__button-show i {
  right: 0;
  width: 27px;
  height: 2.5px;
  background-color: #000;
  position: absolute;
}

.c-navi__button-show i:nth-child(1) {
  top: 30px;
  width: 30px;
  right: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-navi__button-show i:nth-child(2) {
  display: none;
}

.c-navi__button-show i:nth-child(3) {
  top: 30px;
  width: 30px;
  right: 0px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 768px) {
  .c-navi__button-show {
    display: none;
  }
}

.c-ranking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1.5rem;
  height: 4.5rem;
  font-size: 2rem;
  line-height: 2.5rem;
  border-bottom: 1px solid #000;
}

@media (min-width: 768px) {
  .c-ranking {
    font-size: 3rem;
    line-height: 5.5rem;
    height: 7.5rem;
  }
}

@media screen and (max-width: 319px) {
  .c-ranking {
    padding: 1rem 0;
  }
}

.c-ranking:hover {
  background: #EFF5FF;
}

.c-ranking__rank {
  width: 14.3%;
}

.c-ranking__rank__1 {
  color: #C1AB05;
}

.c-ranking__rank__2 {
  color: #C9CACA;
}

.c-ranking__rank__3 {
  color: #AC6B25;
}

.c-ranking__item {
  width: 50%;
}

.c-ranking__number {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

@media (min-width: 768px) {
  .c-ranking__number {
    width: 19.3%;
  }
}

.c-ranking__allow {
  text-align: right;
  font-size: 0.5rem;
  margin-left: 4.5%;
}

@media (min-width: 768px) {
  .c-ranking__allow {
    font-size: 1rem;
    margin-left: 5.5%;
  }
}

.c-ranking__smalltext {
  font-size: 1.2rem;
  vertical-align: middle;
  color: #000;
}

@media (min-width: 768px) {
  .c-ranking__smalltext {
    font-size: 2rem;
  }
}

.c-title {
  font-size: 2.4rem;
  letter-spacing: 0.05rem;
  padding-top: 4rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .c-title {
    font-size: 3rem;
    letter-spacing: 0.05rem;
    padding-top: 8rem;
    margin-bottom: 7rem;
  }
}

.c-title-page {
  font-size: 2.4rem;
  letter-spacing: 0.03em;
  margin-top: 4rem;
  text-align: center;
}

@media (min-width: 768px) {
  .c-title-page {
    font-size: 3rem;
    margin-top: 6rem;
  }
}

.c-title-page-border {
  font-size: 2.4rem;
  border-bottom: 1px solid #AAA;
  padding-bottom: 0.5rem;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .c-title-page-border {
    font-size: 3rem;
    margin-top: 5.5rem;
  }
}

.c-title-login {
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.c-title-footer {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .c-title-footer {
    font-size: 2rem;
    margin-bottom: 3.4rem;
  }
}

@media (min-width: 768px) {
  .c-title-narrowdown {
    font-size: 1.8rem;
  }
}

.c-title-page-portfolio {
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .c-title-page-portfolio {
    margin-bottom: 4rem;
  }
}

.c-title__sub {
  text-align: center;
}

.c-wrap {
  width: 90%;
  max-width: 1140px;
  margin: auto;
}

.c-wrap-top {
  width: 90%;
  margin: auto;
  margin-top: 6.5rem;
}

@media (min-width: 768px) {
  .c-wrap-top {
    max-width: 1140px;
    margin-top: 11rem;
  }
}

.c-wrap-nallow {
  width: 90%;
  min-width: 278px;
  max-width: 400px;
  margin: auto;
}

@media (min-width: 768px) {
  .c-wrap-nallow {
    width: 57%;
    min-width: 335px;
  }
}

@media (min-width: 768px) {
  .c-wrap-registration {
    width: 56rem;
  }
}

@media (min-width: 768px) {
  .c-wrap-flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .c-wrap-flexbox-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.p-analysis {
  padding-bottom: 6rem;
}

@media (min-width: 768px) {
  .p-analysis {
    padding-bottom: 11rem;
  }
}

.p-analysis .c-button {
  margin-top: 4.5rem;
}

@media (min-width: 768px) {
  .p-analysis .c-button {
    margin: inherit;
    margin-top: 12%;
  }
}

@media (min-width: 768px) {
  .p-analysis .c-image {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .p-analysis__box {
    width: 43%;
  }
}

.p-form {
  width: 100%;
  margin: auto;
  margin-top: 3.5rem;
  padding: 2.5rem;
  padding-left: 6.25%;
  padding-right: 6.25%;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  position: relative;
}

@media (min-width: 768px) {
  .p-form {
    padding: 2.5rem;
    margin-top: 5.5rem;
  }
}

.p-form .fa-twitter {
  font-size: 2.1rem;
  color: #55ACEE;
  position: absolute;
  left: 1.5rem;
}

.p-form .fa-envelope {
  font-size: 1.6rem;
  margin-right: 0.5rem;
}

.p-form .c-comment-link:last-of-type {
  margin-top: 2rem;
}

.p-form-registration {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .p-form-registration__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-form-registration__item .c-itemlabel p {
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .p-form-registration__item .c-itemlabel p {
    margin-top: 0;
  }
}

.p-main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 768px) {
  .p-main {
    margin-right: 5%;
    min-width: 460px;
  }
}

.p-main h2 {
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .p-main h2 {
    font-size: 2.4rem;
    margin-top: 8rem;
  }
}

@media (min-width: 768px) {
  .p-main h2.c-title-narrowdown {
    font-size: 1.8rem;
  }
}

.p-main h2.c-title__sub {
  margin-top: 2.5rem;
}

@media (min-width: 768px) {
  .p-main h2.c-title__sub {
    margin-top: 8rem;
  }
}

.p-main .c-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.5rem;
}

@media (min-width: 768px) {
  .p-main .c-button {
    margin-top: 6rem;
  }
}

.p-mainvisu {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(30%, #fff), color-stop(30%, #EFF5FF), to(#EFF5FF));
  background: linear-gradient(to bottom, #fff 0%, #fff 30%, #EFF5FF 30%, #EFF5FF 100%);
  padding-bottom: 6rem;
}

@media (min-width: 768px) {
  .p-mainvisu {
    padding-bottom: 10rem;
  }
}

.p-mainvisu h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .p-mainvisu h2 {
    font-size: 2.8rem;
    margin-top: 8rem;
  }
}

.p-mainvisu__firstview {
  position: relative;
}

.p-mainvisu__firstview__text {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  color: #fff;
  font-size: 7vw;
  letter-spacing: 0.03rem;
  text-align: center;
}

@media (min-width: 768px) {
  .p-mainvisu__firstview__text {
    font-size: 5vw;
    bottom: 5rem;
    left: 6rem;
    text-align: inherit;
  }
}

@media (min-width: 1140px) {
  .p-mainvisu__firstview__text {
    font-size: 6rem;
  }
}

.p-mainvisu__firstview__text p:last-of-type {
  display: inline-block;
}

.p-mainvisu .c-comment {
  margin-top: 2.5rem;
}

@media (min-width: 768px) {
  .p-mainvisu .c-comment {
    margin-top: 4rem;
    width: 60rem;
    text-align: center;
  }
}

.p-message {
  margin-top: 3.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .p-message {
    margin-top: 3rem;
  }
}

.p-message .c-comment-link {
  margin-top: 3rem;
}

.p-message p .c-comment-link {
  display: inline-block;
}

.p-message p.c-comment-link {
  color: #000;
  margin-top: 0;
}

.p-message p.c-comment-link:hover {
  opacity: 1;
}

.p-message-left {
  width: 100%;
  margin: auto;
  margin-top: 3.5rem;
  text-align: left;
}

@media (min-width: 768px) {
  .p-message-left {
    width: 60%;
    margin-top: 3rem;
  }
}

.p-message-left .c-frame-text-registration {
  width: 100%;
  margin-top: 1rem;
}

.p-message-left .c-button {
  width: 15rem;
  margin: auto;
  margin-top: 3rem;
  border-radius: 0;
}

@media (min-width: 768px) {
  .p-message-left .c-button {
    width: 20rem;
  }
}

.p-message__thanks {
  color: #F00;
  font-size: 2rem;
}

.p-message__normaltext {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.5;
  margin: 2rem 0;
}

.p-message__normaltext p:not(:first-of-type) {
  margin-top: 1rem;
}

.p-message__boldtext {
  font-size: 1.6rem;
  font-weight: bold;
}

.p-message__boldtext p:not(:first-of-type) {
  margin-top: 1rem;
}

.p-message__mailtitle {
  font-size: 1.6rem;
  display: inline;
}

.p-message__mailaddress {
  font-size: 1.6rem;
  letter-spacing: 0.03em;
  display: inline;
}

.p-narrowdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.4rem;
  font-weight: normal;
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .p-narrowdown {
    font-size: 1.6rem;
    margin-bottom: 6rem;
  }
}

.p-narrowdown__item {
  color: #fff;
  cursor: pointer;
  display: block;
  margin-bottom: 1px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 50%;
  border: 1px solid #000;
}

.p-narrowdown__item:nth-child(odd) {
  border-right: none;
}

.p-narrowdown__item:nth-child(-n+2) {
  border-bottom: none;
}

.p-narrowdown__item:nth-child(n+3) .p-narrowdown__sub:first-of-type {
  border-top: none;
  top: 4.5rem;
}

@media (min-width: 768px) {
  .p-narrowdown__item {
    width: 25%;
  }
  .p-narrowdown__item:not(:last-child) {
    border-right: none;
  }
  .p-narrowdown__item:nth-child(-n+2) {
    border-bottom: 1px solid #000;
  }
  .p-narrowdown__item:nth-child(n+3) .p-narrowdown__sub:first-of-type {
    border-top: none;
    top: 4.9rem;
  }
}

.p-narrowdown__item__link {
  color: #2d2d2d;
  display: block;
  padding: 1.0rem 10%;
}

.p-narrowdown__item__link::after {
  content: "";
  position: absolute;
  right: 15px;
  top: 42%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 2px #000;
  border-right: solid 2px #000;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.p-narrowdown__item__link:hover {
  background: #EFF5FF;
}

.on::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 45%;
}

.p-narrowdown__sub {
  background: #fff;
  display: none;
  position: absolute;
  right: -1px;
  top: 4.6rem;
  z-index: 10;
}

@media (min-width: 768px) {
  .p-narrowdown__sub {
    top: 4.9rem;
  }
}

.p-narrowdown__sub__item {
  border: 1px solid #000;
  border-top: none;
  color: #000;
  font-size: 1.4rem;
  font-weight: normal;
  text-align: right;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
}

@media screen and (min-width: 768px) and (max-width: 982px) {
  .p-narrowdown__sub__item {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
}

.p-narrowdown__sub__item:first-of-type {
  border-top: 1px solid #000;
}

@media (min-width: 768px) {
  .p-narrowdown__sub__item:first-of-type {
    border-top: none;
  }
}

.p-narrowdown__sub__item:hover {
  background: #EFF5FF;
}

.p-narrowdown__sub__item a {
  display: block;
  padding: 0.5rem;
}

.p-navi {
  width: 66.6vw;
  height: 100vh;
  background: #EFF5FF;
  text-align: right;
  position: fixed;
  top: 0;
  right: -100%;
  -webkit-transition: all 1.0s ease-in-out;
  transition: all 1.0s ease-in-out;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  z-index: 25;
}

@media (min-width: 768px) {
  .p-navi {
    width: 100%;
    height: auto;
    position: initial;
    margin-top: 1.4rem;
  }
}

.p-navi-show {
  right: 0;
  z-index: 25;
}

.p-navi-footer {
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .p-navi-footer {
    margin-right: 12rem;
    margin-bottom: 0;
  }
  .p-navi-footer:last-of-type {
    margin-right: 0;
  }
}

.p-pager {
  max-width: 34rem;
  margin: auto;
  margin-top: 4.5rem;
}

@media (min-width: 768px) {
  .p-pager {
    margin-top: 6rem;
    max-width: unset;
  }
}

.p-pager__list {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 768px) {
  .p-pager__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-pager__list li {
  margin: 0 0.2rem;
  padding: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  position: relative;
  border: 1px solid #0054EE;
}

.p-pager__list li:nth-of-type(6) {
  display: none;
}

@media (min-width: 768px) {
  .p-pager__list li {
    margin: 0 1.5rem;
  }
  .p-pager__list li:nth-of-type(6) {
    display: inline-block;
  }
}

.p-pager__list li a {
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  color: #0054EE;
  text-decoration: none;
}

.p-pager__list li a img {
  vertical-align: middle;
}

.p-pager__list li a:hover {
  background: #EFF5FF;
}

.p-pager__list .active {
  color: #fff;
  background: #0054EE;
}

.p-pager__list .active:hover {
  background: #0054EE;
}

.p-pager__list .p-pager__list__pre {
  display: none;
}

.p-portfolio {
  padding-bottom: 6rem;
  background: #EFF5FF;
}

@media (min-width: 768px) {
  .p-portfolio {
    padding-bottom: 11rem;
  }
}

.p-portfolio .c-button {
  margin-top: 4.5rem;
}

@media (min-width: 768px) {
  .p-portfolio .c-button {
    margin: inherit;
    margin-top: 12%;
  }
}

@media (min-width: 768px) {
  .p-portfolio .c-image {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .p-portfolio__box {
    width: 43%;
  }
}

.p-portfolio__details {
  margin-top: 2.5rem;
}

@media (min-width: 768px) {
  .p-portfolio__details {
    margin-top: 3rem;
  }
}

.p-portfolio__details .c-image {
  height: auto;
}

.p-portfolio__details__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4.5rem;
}

.p-portfolio__details__check .c-button {
  width: 12rem;
  display: block;
}

@media (min-width: 768px) {
  .p-portfolio__details__check .c-button {
    width: 18rem;
  }
}

.p-portfolio__details__check .c-button__edit {
  margin: 0;
  margin-right: 4rem;
}

@media (min-width: 768px) {
  .p-portfolio__details__check .c-button__edit {
    margin-right: 6rem;
  }
}

.p-portfolio__details__check .c-button__edit a {
  background: #AAAAAA;
}

.p-portfolio__details__check .c-button__edit a:hover {
  background: #7A7A7A;
}

.p-portfolio__details__check .c-button__submit {
  margin: 0;
  color: #fff;
  font-size: 1.8rem;
  display: inline-block;
  text-align: center;
  background: #0054EE;
}

.p-portfolio__details__check .c-button__submit:hover {
  background: #001D60;
}

@media (min-width: 768px) {
  .p-portfolio__details__check {
    margin-top: 6rem;
  }
}

.p-ranking {
  margin-top: 2.5rem;
}

@media (min-width: 768px) {
  .p-ranking {
    margin-top: 8rem;
  }
}

.p-selectbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media (min-width: 768px) {
  .p-selectbox {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-selectbox span {
  font-size: 1.2rem;
  margin-left: 0.7rem;
  margin-right: 1.2rem;
}

.p-side {
  margin-top: 6rem;
}

@media (min-width: 768px) {
  .p-side {
    margin-top: 0;
  }
}

.p-side .c-wrap-nallow {
  max-width: none;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

@media (min-width: 768px) {
  .p-side .c-wrap-nallow {
    position: -webkit-sticky;
    position: sticky;
    top: 15rem;
    width: 21%;
    margin-top: 5.5rem;
  }
}

.p-sponsorship .c-image {
  width: 30%;
}

@media (min-width: 768px) {
  .p-sponsorship .c-image {
    width: 22%;
  }
}

.p-sponsorship .c-wrap-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3.7rem;
}

@media (min-width: 768px) {
  .p-sponsorship .c-wrap-flexbox {
    margin-top: 6rem;
  }
}

.p-terms {
  text-align: center;
  margin-top: 5rem;
}

.p-terms .terms-comment {
  font-size: 1.6rem;
}

.p-terms .c-comment-link {
  font-size: 1.6rem;
  display: initial;
}

.p-tweet .twitter-tweet iframe {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .p-tweet .twitter-tweet iframe {
    margin-bottom: 3rem;
  }
}

.p-tweet .c-button {
  margin-top: 2.5rem;
}

@media (min-width: 768px) {
  .p-tweet .c-button {
    margin-top: 1.5rem;
  }
}

.p-tweet-offerlist .twitter-tweet:last-of-type iframe {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .p-tweet-offerlist .twitter-tweet:last-of-type iframe {
    margin-bottom: 0;
  }
}

.u-back {
  overflow: hidden;
}

.u-back::before {
  /* 透過した黒を上から重ねるイメージ */
  background-color: rgba(0, 0, 0, 0.4);
  /* 自由に位置指定 */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

@media (min-width: 768px) {
  .u-break {
    display: none;
  }
}

.u-break-pc {
  display: none;
}

@media (min-width: 768px) {
  .u-break-pc {
    display: block;
  }
  .u-break-pc::before {
    content: "\A";
    white-space: pre;
  }
}

.u-center {
  text-align: center;
}

.u-forpc {
  display: none;
}

@media (min-width: 768px) {
  .u-forpc {
    display: block;
  }
}

.u-forsp {
  display: block;
}

@media (min-width: 768px) {
  .u-forsp {
    display: none;
  }
}

.u-fixedbox {
  position: fixed;
  right: 5%;
  top: 0;
  z-index: 30;
}

.twitter-tweet.twitter-tweet-rendered {
  margin: auto;
}
/*# sourceMappingURL=style.css.map */