// ボタン追加の場合に使用

.c-button {
  color: #fff;
  background: #0054EE;
  width: 15rem;
  height: 6rem;
  margin: auto;
  text-align: center;
  display: block;
  font-size: 1.8rem;
  @include breakpoint ( pc ) {
    font-size: 2rem;
    width: 20rem;
  }
}

// .c-button-open {
//   color: red;
//   font-size: 2rem;
// }