.c-comment {
  font-size: 1.4rem;
  width: 100%;
  max-width: 30rem;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  @include breakpoint ( pc ) {
    font-size: 1.8rem;
    width: 100%;
    max-width: none;
    margin-top: 15%;
    text-align: left;
  }
}

.c-comment-link {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  color: #40A8E2;
  text-align: center;
  margin-top: 2.5rem;
  @include breakpoint ( pc ) {
    margin-top: 1.5rem;
  }
  &:hover {
    opacity: 0.7;
  }
}
.c-comment-link-big {
  font-size: 1.4rem;
}
.c-comment-link-contact {
  font-size: 1.8rem;
  margin-top: 3.5rem;
  @include breakpoint ( pc ) {
    font-size: 1.6rem;
    margin-top: 2.5rem;
  }
}
.c-comment-link-totop {
  font-size: 1.4rem;
  margin: auto;
  margin-top: 4.5rem;
  width: 7rem;
  @include breakpoint ( pc ) {
    width: 10rem;
    font-size: 1.6rem;
    margin-top: 6rem;
  }
}

.c-comment-contact {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  margin-top: 2rem;
  @include breakpoint ( pc ) {
    font-size: 1.6rem;
    margin-top: 2.5rem;
  }
}

.c-comment-annotation {
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: 1rem;
  @include breakpoint ( pc ) {
    margin-left: 13.8rem;
  }
}

.c-comment-link-twitter {
  font-size: 1.6rem;
  font-weight: normal;
  margin-top: 0;
  display: inline-block;
}
.c-comment-link-url {
  font-size: 1.6rem;
  font-weight: normal;
  margin-top: 0;
  display: inline-block;
  text-align: left;
  overflow-wrap: anywhere;
  &:hover {
    text-decoration: underline;
  }
}