.c-comment {
  font-size: 1.4rem;
  line-height: 180%;
  width: 100%;
  max-width: 30rem;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  @include breakpoint ( pc ) {
    font-size: 1.8rem;
    line-height: 3.6rem;
    width: 100%;
    max-width: none;
    margin-top: 15%;
    text-align: left;
  }
}

.c-comment-link {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #40A8E2;
  text-align: center;
  margin-top: 2.5rem;
  @include breakpoint ( pc ) {
    margin-top: 1.5rem;
  }
  &:hover {
    opacity: 0.7;
  }
}

.c-comment-link-contact {
  font-size: 1.8rem;
  line-height: 2.25rem;
  margin-top: 3.5rem;
  @include breakpoint ( pc ) {
    font-size: 1.6rem;
    line-height: 2.0rem;
    margin-top: 2.5rem;
  }
}

.c-comment-contact {
  font-size: 1.4rem;
  line-height: 180%;
  text-align: center;
  margin-top: 2rem;
  @include breakpoint ( pc ) {
    font-size: 1.6rem;
    line-height: 2.0rem;
    margin-top: 2.5rem;
  }
}

.c-comment-annotation {
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  @include breakpoint ( pc ) {
    margin-left: 13.8rem;
  }
}