.c-comment {
  font-size: 1.4rem;
  line-height: 180%;
  width: 100%;
  max-width: 30rem;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  @include breakpoint ( pc ) {
    font-size: 1.8rem;
    line-height: 3.6rem;
    width: 100%;
    max-width: none;
    margin-top: 15%;
    text-align: left;
  }
}