// ログインページで使用している罫線
.c-divider {
  color: #AAA;
  display: flex;
  align-items: center;
  font-size: 1rem;
  letter-spacing: -0.01rem;
  margin-top: 1rem;
}
.c-divider::before,
.c-divider::after {
  content: '';
  height: 1px;
  background-color: #AAA;
  flex-grow: 1;
}

.c-divider::before {
  margin-right: 7px;
}

.c-divider::after {
  margin-left: 7px;
}

.c-divider-bottom{
  margin-top: 2rem;
}

.c-divider-bottom::before,
.c-divider-bottom::after {
  background-color: #DDD;
  margin-right: 0;
  margin-left: 0;
}