// ログインページの中身の枠
.c-frame {
  width: 100%;
  padding: 1.3rem 1.5rem;
  position: relative;
  border: 2px solid #DDDDDD;
  border-radius: 4px;
  p {
    color: #333;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: -0.01rem;
  }
}

// ユーザー入力項目の枠
.c-frame-text {
  padding: 1.5rem 1rem;
  &::placeholder {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #AAAAAA;
  }
}
.c-frame-text-mail {
  margin-top: 1.2rem;
}
.c-frame-text-password {
  margin-top: 0.9rem;
}
