// 分類前のコンポーネントをとりあえず書く場所
.wrapper {
  width: 90%;
  min-width: 280px;
  max-width: 440px;
  margin: auto;
  // @include breakpoint ( narrow ) {
  //   width: 70%;
  //   min-width: 280px;
  //   padding-left: 1rem;
  //   padding-right: 1rem;
  // }
  @include breakpoint ( pc ) {
    width: 57%;
    min-width: 335px;
  }
}

.login {
  width: 100%;
  margin: auto;
  margin-top: 9.5rem;
  padding: 2.5rem;
  padding-left: 6.25%;
  padding-right: 6.25%;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  position: relative;
  @include breakpoint ( pc ) {
    padding: 2.5rem;
    margin-top: 16.5rem;
  }
  
  .title {
    color: #333;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
  }
  .twitter, .mail, .password {
    width: 100%;
    padding: 1.3rem 1.5rem;
    position: relative;
    border-radius: 4px;
    .fa-twitter {
      font-size: 2.1rem;
      color: #55ACEE;
      position: absolute;
      left: 1.5rem;
    }
    p {
      color: #333;
      text-align: center;
      font-size: 1.4rem;
      line-height: 2.1rem;
      letter-spacing: -0.01rem;
    }
    
    // margin-bottom: 10px;
    // color: #ccc;
    border: 2px solid #DDDDDD;
  }
  
  .mail, .password {
    padding: 1.5rem 1rem;
    &::placeholder {
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 1.6rem;
      color: #AAAAAA;
    }
  }
  .mail {
    margin-top: 1.2rem;
  }
  .password {
    margin-top: 0.9rem;
  }
  
  .c-comment-link {
    &:last-of-type {
      margin-top: 2rem;
    }
  }
  
  
  .c-button-login {
    width: 100%;
    height: 45px;
    background: #0054EE;
    margin-top: 1.5rem;
    padding: 1.5rem 0;
  }
  .c-button-login__text {
    display: flex;
    justify-content: center;
    color: #fff;
    p {
      font-weight: bold;
      font-size: 1.4rem;
    }
  }
  .fa-envelope {
    font-size: 1.6rem;
    margin-right: 0.5rem;
  }
}

.text-divider {
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: -0.01rem;
  color: #AAAAAA;
  margin-top: 1rem;
}
.text-divider::before,
.text-divider::after {
  content: '';
  height: 1px;
  background-color: #AAA;
  flex-grow: 1;
}
.check {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: -0.01rem;
  color: #333333;
  margin-top: 1.5rem;
}

.back {
  overflow: hidden;
  &::before{
    /* 透過した黒を上から重ねるイメージ */
    background-color: rgba(0,0,0,0.4);
    /* 自由に位置指定 */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    width: 100vw;
    height: 100vh;
    z-index: 20;
  }
}
