.c-navi {
  font-size: 1.4rem;
  width: 90%;
  margin: auto;
  @include breakpoint ( pc ) {
    max-width: 1140px;
  }
  li {
    text-align: center;
    align-self: center;
    margin-top: 5rem;
    &:first-of-type {
      margin-top: 8rem;
    }
    @include breakpoint ( pc ) {
      width: 20%;
      line-height: 3rem;
      margin-top: 0;
      border-right:1px solid #aaaaaa;
      &:first-of-type {
        margin-top: 0;
        border-left:1px solid #aaaaaa;
      }
      &:last-of-type {
        display: none;
      }
      &:hover {
        background-color: #ACCBF9;
      }
    }
  }
  @include breakpoint ( pc ) {
   display: flex; 
  }
}

.c-navi__login {
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;
  width: 15rem;
  color: #fff;
  display: inline-block;
  background: #0054EE;
  a {
    padding: 1.6rem 0.5rem;
  }
  img {
    height: 1.7rem;
    margin-right: 0.5rem;
  }
}

// 三本線のハンバーガーメニューアイコン
.c-navi__button {
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 10;
  i {
    right: 0;
    width: 27px;
    height: 2.5px;
    background-color: #000;
    position: absolute;
    transition: all 1.0s ease-in-out;
    &:nth-child(1) {
      top: 15px;
    }
    &:nth-child(2) {
      top: 25px;
    }
    &:nth-child(3) {
      top: 35px;
    }
  }
  @include breakpoint ( pc ) {
   display: none; 
  }
}

// ×マークのメニュー閉じるボタン
.c-navi__button-show {
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 10;
  i {
    right: 0;
    width: 27px;
    height: 2.5px;
    background-color: #000;
    position: absolute;
    &:nth-child(1) {
      top: 25px;
      width: 30px;
      right: 0px;
      transform:rotate(45deg)
    }
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      top: 25px;
      width: 30px;
      right: 0px;
      transform:rotate(-45deg)
    }
  }
  @include breakpoint ( pc ) {
   display: none; 
  }
}