// 三本線のハンバーガーメニューアイコン
.c-navi__button {
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 30;
  i {
    right: 0;
    width: 27px;
    height: 2.5px;
    background-color: #000;
    position: absolute;
    transition: all 1.0s ease-in-out;
    &:nth-child(1) {
      top: 15px;
    }
    &:nth-child(2) {
      top: 25px;
    }
    &:nth-child(3) {
      top: 35px;
    }
  }
  @include breakpoint ( pc ) {
   display: none; 
  }
}

// ×マークのメニュー閉じるボタン
.c-navi__button-show {
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 30;
  i {
    right: 0;
    width: 27px;
    height: 2.5px;
    background-color: #000;
    position: absolute;
    &:nth-child(1) {
      top: 25px;
      width: 30px;
      right: 0px;
      transform:rotate(45deg)
    }
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      top: 25px;
      width: 30px;
      right: 0px;
      transform:rotate(-45deg)
    }
  }
  @include breakpoint ( pc ) {
   display: none; 
  }
}
