.c-title {
  font-size: 2.4rem;
  line-height: 2.9rem;
  letter-spacing: 0.05rem;
  padding-top: 4rem;
  margin-bottom: 2.5rem;
  text-align: center;
  @include breakpoint ( pc ) {
    font-size: 3rem;
    line-height: 3.6rem;
    letter-spacing: 0.05rem;
    padding-top: 8rem;
    margin-bottom: 7rem;
  }
}

.c-title-contact {
  text-align: center;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.03em;
  margin-top: 3.5rem;
  @include breakpoint ( pc ) {
    font-size: 3rem;
    line-height: 3.6rem;
    margin-top: 5.5rem;
  }
}

.c-title-login {
  color: #333;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.c-title-registration {
  font-size: 2.4rem;
  line-height: 2.9rem;
  border-bottom: 1px solid #AAA;
  padding-bottom: 0.5rem;
  margin-top: 3rem;
  @include breakpoint ( pc ) {
    font-size: 3rem;
    line-height: 3.6rem;
    margin-top: 5.5rem;
  }
}

.c-title-footer {
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 2rem;
  @include breakpoint ( pc ) {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 3.4rem;
  }
}