.c-title {
  font-size: 2.4rem;
  letter-spacing: 0.05rem;
  padding-top: 4rem;
  margin-bottom: 2.5rem;
  text-align: center;
  @include breakpoint ( pc ) {
    font-size: 3rem;
    letter-spacing: 0.05rem;
    padding-top: 8rem;
    margin-bottom: 7rem;
  }
}

.c-title-page {
  font-size: 2.4rem;
  letter-spacing: 0.03em;
  margin-top: 4rem;
  text-align: center;
  @include breakpoint ( pc ) {
    font-size: 3rem;
    margin-top: 6rem;
  }
}

.c-title-page-border {
  font-size: 2.4rem;
  border-bottom: 1px solid #AAA;
  padding-bottom: 0.5rem;
  margin-top: 3rem;
  @include breakpoint ( pc ) {
    font-size: 3rem;
    margin-top: 5.5rem;
  }
}
.c-title-login {
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}


.c-title-footer {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  @include breakpoint ( pc ) {
    font-size: 2rem;
    margin-bottom: 3.4rem;
  }
}

.c-title-narrowdown {
  @include breakpoint ( pc ) {
    font-size: 1.8rem;
  }
}

.c-title-page-portfolio {
  margin-bottom: 0.5rem;
  @include breakpoint ( pc ) {
    margin-bottom: 4rem;
  }
}

.c-title__sub {
  text-align: center;
}