// 最大幅の設定
.c-wrap {
  width: 90%;
  max-width: 1140px;
  margin: auto;
}

.c-wrap-top {
  width: 90%;
  margin: auto;
  margin-top: 6.5rem;
  @include breakpoint ( pc ) {
    max-width: 1140px;
    margin-top: 11rem;
  }
}

.c-wrap-nallow {
  width: 90%;
  min-width: 278px;
  max-width: 400px;
  margin: auto;
  @include breakpoint ( pc ) {
    width: 57%;
    min-width: 335px;
  }
}

.c-wrap-registration {
  @include breakpoint ( pc ) {
    width: 56rem;
  }
}

.c-wrap-flexbox {
  @include breakpoint ( pc ) {
    display: flex;
    justify-content: space-between;
  }
}
.c-wrap-flexbox-wrap {
  @include breakpoint ( pc ) {
    flex-wrap: wrap;
  }
}

.c-wrap-post {
  max-width: 50rem;
  @include breakpoint ( pc ) {
    width: 100%;
    max-width: 70rem;
    margin: auto;
  }
}