// 最大幅の設定
.c-wrap {
  width: 90%;
  max-width: 1140px;
  margin: auto;
}

.c-wrap-top {
  width: 90%;
  margin: auto;
  margin-top: 6.5rem;
  @include breakpoint ( pc ) {
    max-width: 1140px;
    margin-top: 11rem;
  }
}

.c-wrap-nallow {
  width: 90%;
  min-width: 278px;
  max-width: 400px;
  margin: auto;
  @include breakpoint ( pc ) {
    width: 57%;
    min-width: 335px;
  }
}

.c-wrap-registration {
  @include breakpoint ( pc ) {
    width: 56rem;
  }
}

.c-wrap-paragraph {
  @include breakpoint ( pc ) {
    max-width: 96rem;
  }
}

.c-wrap-flexbox {
  @include breakpoint ( pc ) {
    display: flex;
    justify-content: space-between;
  }
}
.c-wrap-flexbox-wrap {
  @include breakpoint ( pc ) {
    flex-wrap: wrap;
  }
}

.c-wrap-post {
  max-width: 50rem;
  @include breakpoint ( pc ) {
    width: 100%;
    max-width: 70rem;
    margin: auto;
  }
}
// ファイルアップロードの大枠
.c-wrap-drop {
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: 1.5rem;
  @include breakpoint ( pc ) {
    height: 250px;
    margin-top: 2rem;
  }
}
.c-wrap-drop-small {
  position: relative;
  width: 62.5%;
  height: 12rem;
  .c-droparea__text__file {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1rem;
    cursor: pointer;
    width: 50%;
    height: 100%;
    padding: 0;
    @include breakpoint ( pc ) {
      margin-top: 0;
    }
    p {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    }
  }
}