// ハンバーガーメニューが開いたときにメインエリアを暗くする
.u-back {
  overflow: hidden;
  &::before{
    /* 透過した黒を上から重ねるイメージ */
    background-color: rgba(0,0,0,0.4);
    /* 自由に位置指定 */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    width: 100vw;
    height: 100vh;
    z-index: 20;
  }
}
