// スマホのときだけ改行

.u-break {
  @include breakpoint( pc ) {
    display: none;
  }
}

// PCのときだけ改行

.u-break-pc {
  display: none;
  @include breakpoint( pc ) {
    display: block;
    &::before {
      content: "\A";
      white-space: pre;
      }
    }
}