.p-analysis {
  padding-bottom: 6rem;
  @include breakpoint ( pc ) {
    padding-bottom: 11rem;
  }
  .c-button {
    margin-top: 4.5rem;
    @include breakpoint ( pc ) {
      margin: inherit;
      margin-top: 12%;
    }
  }
  .c-image {
    @include breakpoint ( pc ) {
      width: 50%;
    }
  }
}

.p-analysis__box {
  @include breakpoint ( pc ) {
    width: 43%;
  }
}