.p-form {
  // ログインページの外枠部分
  width: 100%;
  margin: auto;
  margin-top: 3.5rem;
  padding: 2.5rem;
  padding-left: 6.25%;
  padding-right: 6.25%;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  position: relative;
  @include breakpoint ( pc ) {
    padding: 2.5rem;
    margin-top: 5.5rem;
  }
  // ツイッターアイコン
  .fa-twitter {
    font-size: 2.1rem;
    color: #55ACEE;
    position: absolute;
    left: 1.5rem;
  }
  // 手紙アイコン
  .fa-envelope {
    font-size: 1.6rem;
    margin-right: 0.5rem;
  }

  // ログインページの最後のリンクだけ上部の余白多め
  .c-comment-link {
    &:last-of-type {
      margin-top: 2rem;
    }
  }
}