.p-main {
  width: 100%;
  flex: 1;
  @include breakpoint ( pc ) {
    margin-right: 5%;
    min-width: 460px;
  }
  @media screen and (min-width: 950px) {
    margin-right: 10.5%;
  }
  h2 {
    margin-top: 6rem;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
    &:first-of-type {
      margin-top: 2.5rem;
    }
    @include breakpoint ( pc ) {
      font-size: 2.4rem;
      line-height: 2.9rem;
      margin-top: 8rem;
    }
  }
}