.p-message {
  margin-top: 3.5rem;
  text-align: center;
  @include breakpoint ( pc ) {
    margin-top: 3rem;
  }
  .c-comment-link {
    margin-top: 3rem;
  }
  p {
    .c-comment-link {
      display: inline-block;
    }
  }
  p.c-comment-link {
    color: #000;
    margin-top: 0;
    &:hover {
      opacity: 1;
    }
  }
}

.p-message-left {
  width: 100%;
  margin: auto;
  margin-top: 3.5rem;
  text-align: left;
  @include breakpoint ( pc ) {
    width: 60%;
    margin-top: 3rem;
  }
  .c-frame-text-registration {
    width: 100%;
    margin-top: 1rem;
  }
  .c-button {
    width: 15rem;
    margin: auto;
    margin-top: 3rem;
    border-radius: 0;
    @include breakpoint ( pc ) {
      width: 20rem;
    }
  }
}
.p-message-long {
  font-size: 1.2rem;
  font-weight: normal;
  width: 100%;
  margin-top: 1.5rem;
  line-height: 2rem;
  @include breakpoint ( pc ) {
    margin-top: 3rem;
  }
  h2, h3 {
    font-weight: bold;
    margin-top: 3rem;
    line-height: 2.1rem;
    @include breakpoint ( pc ) {
      margin-top: 2rem;
    }
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
    margin-top: 1.5rem;
  }
  p {
    &:not(:first-of-type) {
      margin-top: 1.5rem;
      @include breakpoint ( pc ) {
        margin-top: 2rem;
      }
    }
  }
  ul {
    list-style-type: disc;
    list-style-position: inside;
    li {
      @include breakpoint ( pc ) {
        margin-top: 1rem;
      }
    }
  }
}

.p-message-advertising {
  font-size: 1.2rem;
  @include breakpoint ( pc ) {
    font-size: 1.6rem;
  }
}

.p-message__thanks {
  color: #F00;
  font-size: 2rem;
}

.p-message__normaltext {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.5;
  margin: 2rem 0;
  p {
    &:not(:first-of-type) {
      margin-top: 1rem;
    }
  }
}
.p-message__boldtext {
  font-size: 1.6rem;
  font-weight: bold;
  p {
    &:not(:first-of-type) {
      margin-top: 1rem;
    }
  }
}

.p-message__mailtitle {
  font-size: 1.6rem;
  display: inline;
}

.p-message__mailaddress {
  font-size: 1.6rem;
  letter-spacing: 0.03em;
  display: inline;
}

.p-message__contact {
  font-weight: bold;
  margin-top: 2.5rem;
  p {
    font-size: 1.4rem;
    @include breakpoint ( pc ) {
      font-size: 1.6rem;
    }
  }
  a {
    color: #40a8e2;
    &:hover {
      opacity: 0.7;
    }
  }
}

.p-message-terms {
  font-size: 1.2rem;
  font-weight: normal;
  width: 100%;
  margin-top: 3rem;
  line-height: 2rem;
  h2, h3 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 3rem;
  }
  h2 {
    border-left: solid 2px #0054ee;
    padding-left: 0.7rem;
    @include breakpoint ( pc ) {
      border-left: solid 5px #0054ee;
      padding-left: 0.5rem;
    }
  }
  h3 {
    font-size: 1.4rem;
    margin-top: 1.5rem;
    line-height: 2.1rem;
  }
  ol {
    list-style-type: auto;
    list-style-position: inside;
    li {
      @include breakpoint ( pc ) {
        margin-top: 1rem;
      }
      ol {
        list-style-type: none;
        li {
          margin-top: 0;
          margin-left: 1rem;
          counter-increment: cnt;
          &::before {
            content: "(" counter(cnt) ") ";
          }
        }
      }
    }
  }
}