.p-navi {
  width: 66.6vw;
  height: 100vh;
  background: #EFF5FF;
  text-align: right;
  position: fixed;
  top: 0;
  right: -100%;
  transition: all .5s ease-in-out;
  @include breakpoint ( pc ) {
    width: 100%; 
    height: auto;
    position: initial;
    margin-top: 1.6rem;
  }
}

.p-navi-show {
  right: 0;
}

.p-navi-footer {
  margin-bottom: 4rem;
  @include breakpoint ( pc ) {
    margin-right: 12rem;
    &:last-of-type {
      margin-right: 0;
    }
    margin-bottom: 0;
  }
}