.p-portfolio {
  padding-bottom: 6rem;
  background: #EFF5FF;
  @include breakpoint ( pc ) {
    padding-bottom: 11rem;
  }
  .c-button {
    margin-top: 4.5rem;
    @include breakpoint ( pc ) {
      margin: inherit;
      margin-top: 12%;
    }
  }
  .c-image {
    @include breakpoint ( pc ) {
      width: 50%;
    }
  }
}

.p-portfolio__box {
  @include breakpoint ( pc ) {
    width: 43%;
  }
}

.p-portfolio__details {
  margin-top: 2.5rem;
  @include breakpoint ( pc ) {
    margin-top: 3rem;
  }
  .c-image {
    height: auto;
  }
}

.p-portfolio__details__check {
  display: flex;
  justify-content: center;
  margin-top: 4.5rem;
  .c-button {
    width: 12rem;
    display: block;
    @include breakpoint ( pc ) {
      width: 18rem;
    }
  }
  .c-button__edit {
    margin: 0;
    margin-right: 4rem;
    @include breakpoint ( pc ) {
      font-size: 2rem;
      margin-right: 6rem;
    }
    a {
      font-size: 1.6rem;
      background: #AAAAAA;
      &:hover {
        background: #7A7A7A;
      }
      @include breakpoint ( pc ) {
        font-size: 2rem;
      }
    }
  }
  .c-button__submit {
    font-size: 1.6rem;
    margin: 0;
    color: #fff;
    display: inline-block;
    text-align: center;
    background: #0054EE;
    &:hover {
      background: #001D60;
    }
    @include breakpoint ( pc ) {
      font-size: 2rem;
    }
  }
  @include breakpoint ( pc ) {
    font-size: 2rem;
    margin-top: 6rem;
  }
}