.p-selectbox {
  display: flex;
  align-items: baseline;
  @include breakpoint ( pc ) {
    align-items: center;
  }
  span {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-left: 0.7rem;
    margin-right: 1.2rem;
  }
}