.p-tweet {
  .twitter-tweet {
    iframe {
      width: 100%;
    // margin-bottom: 2rem;
    @include breakpoint ( pc ) {
      // margin-bottom: 3rem;
    }
    }
  }
  .c-button {
    margin-top: 2.5rem;
    @include breakpoint ( pc ) {
      margin-top: 1.5rem;
    }
  }
}

.p-tweet-offerlist {
  .twitter-tweet {
    &:last-of-type{
        iframe {
        margin-bottom: 0;
        @include breakpoint ( pc ) {
          margin-bottom: 0;
        }
      }
   }
  }
}