// ページ単位で唯一の要素かを判断基準に設定
// クラスではなく、idにしても支障がないか
// 具体的には、index.htmlでクラス名を検索したときに検索結果が1つになることが条件

.l-footer {
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 27px 0px;
  background: #001D60;
}

.l-footer__wrap {
  width: 90%;
  max-width: 1140px;
  margin: auto;
  text-align: left;
  @include breakpoint ( pc ) {
    display: flex;
    margin-bottom: 10rem;
  }
}