// ページ単位で唯一の要素かを判断基準に設定
// クラスではなく、idにしても支障がないか
// 具体的には、index.htmlでクラス名を検索したときに検索結果が1つになることが条件

.l-footer {
  width: 100%;
  color: #fff;
  text-align: center;
  background: #001D60;
  padding: 3rem 2rem 2rem 2rem;
  margin-top: 10rem;
  @include breakpoint ( pc ) {
    padding: 4rem 15rem 2rem 15rem;
  }
}

.l-footer__wrap {
  width: 90%;
  max-width: 1140px;
  margin: auto;
  text-align: left;
  margin-bottom: 8rem;
  @include breakpoint ( pc ) {
    display: flex;
    margin-bottom: 12rem;
  }
}