// ページ単位で唯一の要素かを判断基準に設定
// クラスではなく、idにしても支障がないか
// 具体的には、index.htmlでクラス名を検索したときに検索結果が1つになることが条件

.l-header {
  width: 90%;
  min-width: 335px;
  height: 50px;
  color: #000;
  margin: auto;
  @include breakpoint ( pc ) {
    width: 80%;
    max-width: 1140px;
    height: 100px;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
  }
}

// インナー追加する場合に使用
.l-header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-header__main {
  display: flex;
  align-items: center;
}

.l-header__main__logo {
  margin-right: 1rem;
  width: 3.3rem;
  @include breakpoint ( pc ) {
    width: auto;
  }
}

.l-header__main__title {
  font-size: 2rem;
  @include breakpoint ( pc ) {
    font-size: 3rem;
  }
}